<!-- GET /confirmation -->

<html>
  <head>
    <meta http-equiv="refresh" content="1.5;url=/" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css">
  </head>
  <body>
    <h1>Thanks <%= @last_added_user.name %> for creating an account!</h1>
    <h4>Redirecting to Peeps...</h4>
  </body>
</html>