<!-- GET / -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/lightblue.css">
  </head>
  <body>
    <h1>Welcome to Chitter!</h1>


    <a href="/login">Log In</a><br>
    <a href="/signup">Sign Up</a><br>
    <a href="/users">View Users</a><br>
    <a href="/peeps">View Peeps</a><br>
  </body>
</html>