<!-- 400 Error -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css">
  </head>
  <body>
  <h1>HTTP 400 Error!</h1>
  <h4><a href="/">Go home</a></h4>
  </body>
</html>