<!-- GET /login-success -->

<html>
  <head>
    <meta http-equiv="refresh" content="1.5;url=/" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css">
  </head>
  <body>
    <h1>Log-In Successful!</h1>
    <!-- <h4><a href="/peeps">Go to your peeps</a></h4> -->
    <h4>Redirecting to Peeps...</h4>
  </body>
</html>