<!-- GET /login-failure -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css">
  </head>
  <body>
    <h1>Log-In Unsuccessful!</h1>
    <h4>Invalid password or email address provided.</h4>
    <h4><a href="/login">Please try again</a></h4>
    <h4>Not registered? <a href="/signup">Sign up!</a></h4> 
  </body>
</html>