<!-- Peep add success -->

<html>
  <head>
    <meta http-equiv="refresh" content="1.5;url=/peeps" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css">
  </head>
  <body>
    <h1>Peep posted!</h1>
    <h4>Redirecting to Peeps...</h4>
  </body>
</html>