<!-- Signup failure -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/plain.css"></head>
  <body>
    <h1>Sign-Up Unsuccessful!</h1>
    <h4>Email address is already associated with an account.</h4>
    <h4>Click <a href="/signup">Sign-Up</a> to try again or <a href="/login">Log-In</a></h4>
  </body>
</html>